@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e0efff;
  color: #333;
}

/* Custom Scrollbar */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #e6e78b;
  border-radius: 10px;
}

/* Hide default scrollbars */
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none; /* Firefox */
}

input, textarea {
  outline: none;
}

button {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/*button:hover {
  background-color: #004aad;
}*/  /*focus colors*/

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

.toggle-switch {
  appearance: none;
  width: 2.5rem; 
  height: 1.25rem; 
  background: linear-gradient(90deg, #a7f3d0, #34d399);
  border-radius: 1.25rem; 
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.toggle-switch:checked {
  background: linear-gradient(90deg, #32c88c92, #10b981b7);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.toggle-switch:checked::before {
  transform: translateX(1.2rem); 
}

.toggle-switch::before {
  content: "";
  position: absolute;
  top: 0.05rem; 
  left: 0.1rem;
  width: 1.05rem; 
  height: 1.05rem; 
  background: white;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}
